@charset "UTF-8";
@font-face {
    font-family: 'Quicksand';
    src: url(_fonts/static/Quicksand-Medium.ttf);
}

body {
    background-color: rgba(32, 32, 32, 0.932);
}
main#interface {
    position: relative;
    text-align: center;
    background-color: rgb(46, 46, 46);
    width: 95%;
    max-width: 1000px;
    margin:100px auto;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    transition: 0.7s;
}
main #aula {
    font-family: 'Quicksand';
    color: #ffff;
    padding-top: 50px;
    margin-bottom: 10px;
    font-size: 1.6em;
    position: relative;
    transition: 0.7s;
}
main#interface:hover #aula {
    color: black;
}
main#interface:hover {
    background-color: #ffecef;
}
span#botao {
    color: rgb(155, 151, 151);
    font-family: 'Quicksand';
    font-weight: bold;
    position: absolute;
    text-align: right;
    padding: 10px 23px;
    background: linear-gradient(90deg,rgb(76, 80, 83)0% ,rgb(43, 44, 44)10%);
    right: 20px;
    bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#proxaul:hover #botao {
    background: linear-gradient(90deg,rgb(17, 17, 17)-10% ,rgb(19, 78, 78)67% ,rgb(19, 95, 131)140%);
    color: rgb(214, 212, 212);
    width: 260px;
    right: -140px;
}
div #img_proxaul {
    position: absolute ;
    right: -196px;
    bottom: 40px;
    width: 300px;
    opacity: 0;
    padding: 20px;
    cursor: pointer;
}
div#proxaul {
    width: 300px;
}
#proxaul:hover #img_proxaul {
    opacity: 1;
}
span#botao_prog {
    color: rgb(155, 151, 151);
    font-family: 'Quicksand';
    font-weight: bold;
    position: absolute;
    text-align: right;
    padding: 8px 5px;
    right: -102px;
    bottom: 185px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}
#proxaul:hover #botao_prog {
    opacity: 1;
}